.swiper-slide:nth-child(1) .box{
    background-color: #25645b;
}
.swiper-slide:nth-child(2) .box{
    background-color: #C7800B;
}
 .swiper-slide:nth-child(3) .box{
    background-color: #808E3B;
}
.swiper-slide:nth-child(4) .box{
    background-color: #C0814D;
}
.swiper-slide:nth-child(5) .box{
    background-color: #873D08;
}
.swiper-slide:nth-child(6) .box{
    background-color: #01286c;
}
.swiper-slide:nth-child(7) .box{
    background-color: #48433C;
}
.swiper-slide:nth-child(8) .box{
    background-color: #009db8;
}
