@use "../variables" as *;

//UTILITY



//  /UTILITY

// HEADER AND ASIDE
#admin-header, #nav-aside {
    a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: 500;
        transition: all .4s;
        &:hover {
            color: white;
        }
        &.active {
            color: white;
            padding-bottom: 5px;
            border-bottom: white 1px solid;
        }
    }
}
//       /HEADER AND ASIDE

// LAYOUT ADMIN
#main-admin {
    overflow-y: auto;
    height: calc(100vh - 70px);
}


